Repository kubereboot/kured, pull requests merged in 2021-03, with the labels that each got.

#294 always drain before reboot
  cmd/kured/main.go
Labels: scheduling-improvements

#318 update chart definition to include --annotate-nodes
  charts/kured/Chart.yaml
  charts/kured/README.md
  charts/kured/templates/daemonset.yaml
  charts/kured/values.minikube.yaml
  charts/kured/values.yaml
Labels: helm-chart

#325 Extend close-duration for stale issues and prs
  .github/workflows/periodics-daily.yaml
Labels: github_actions
