Repository kubereboot/kured, pull requests merged in 2021-07, with the labels that each got.

#402 link to versioned shoutrrr docs
  README.md
Labels: docs

#408 fix: common default reboot command for code and chart
  charts/kured/Chart.yaml
  charts/kured/values.yaml
Labels: helm-chart

#407 Added possibility to mount volumes
  charts/kured/Chart.yaml
  charts/kured/README.md
  charts/kured/templates/daemonset.yaml
  charts/kured/values.yaml
Labels: helm-chart

#410 Add --alert-firing-only parameter to only consider firing alerts
  README.md
  cmd/kured/main.go
  cmd/kured/main_test.go
  kured-ds.yaml
  pkg/alerts/prometheus.go
  pkg/alerts/prometheus_test.go
Labels: enhancement
