Repository kubereboot/kured, pull requests merged in 2021-01, with the labels that each got.

#275 Do not bump any k8s module
  .github/dependabot.yml
Labels: build

#280 Expose the service name and maxUnavailable for rolling updates in helm chart
  charts/kured/Chart.yaml
  charts/kured/README.md
  charts/kured/templates/daemonset.yaml
  charts/kured/templates/service.yaml
  charts/kured/values.yaml
Labels: helm-chart

#292 Update helm chart
  charts/kured/Chart.yaml
  charts/kured/values.yaml
Labels: helm-chart

#293 Update helm chart README using Make
  Makefile
  charts/kured/Chart.yaml
  charts/kured/README.md
Labels: helm-chart

#250 implement issue-19 add prefer no schedule taint to avoid double draining of pods
  README.md
  cmd/kured/main.go
  pkg/taints/taints.go
Labels: scheduling-improvements
